<section class="pt-20">
    <app-heading class="mb-16 block"
    subheading=""
    heading1="All"
    heading2="Courses"
    heading3='of Edule'
    specialheading=2
    align="l"
    
    ></app-heading>
    <div class="container mx-auto  "><app-slider class="block bg-emerald-50 p-2 sm:p-5 rounded-3xl" *ngIf="this.categories.length>0" [items]="this.categories" (select)="FilterCourse($event)" >

    </app-slider>
</div>
    <div class="mt-12 container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <app-card *ngFor="let course of this.filteredCourses" class="w-full  p-3" type="c" [input]="course"></app-card>
            </div>
            <div class="flex justify-center mt-16">
                <app-button name="OtherCourse" size="l" shade="d" animation="c"></app-button>
            </div>
</section>
