<ul class=" flex justify-center gap-6 font-semibold text-slate-700 text-lg">
    <li><a href=""><app-button class="hidden lg:block" name="sign In" size="l" ></app-button>
        <app-button class="lg:hidden" name="sign In" size="m" shade="w" animation="f"></app-button></a>
    </li>
    <li><a href=""><app-button class="hidden lg:block" name="sign Up" size="l" shade="w" animation="f"></app-button>
        <app-button class="lg:hidden" name="sign Up" size="m" shade="w" animation="f"></app-button></a></li>
</ul>