<section class="pt-24">
   <div class=" container mx-auto px-5 sm:px-10 xl:px-14 2xl:px-0 ">
<div class=" relative  bg-emerald-50 rounded-2xl py-5 px-4 xl:px-20 ">
    <img class="animate__animated animate-spin animate__slower absolute left-5 bottom-5" src="../../../assets/shapes/shape-12.png" alt="">
<img class="animate__animated animate-spin animate__slower absolute top-5 right-5" src="../../../assets/shapes/shape-12.png" alt="">

  <div class=" flex flex-wrap md:flex-nowrap items-center">
    <div class="flex w-full md:w-3/5 xl:w-1/2">
        <app-heading class="mx-auto md:mx-0 py-5 block max-w-sm md:max-w-md"
        subheading="Become A Instructor"
        heading1="You can join with Edule as"
        heading2="a instructor?"
        specialheading=2
        align="l"
        
        ></app-heading>
    </div>
    <div class="w-full md:w-2/5 xl:w-1/2 flex items-center">

<div class="hidden xl:block xl:w-1/2 w-2/5">
<img class="w-[70%]" src="../../../assets/shapes/shape-13.svg" alt="">
</div>
<div class=" xl:w-1/2 w-full flex">
<app-button class="block mx-auto  md:ml-auto " name="Drop Information" size="l" shade="d" animation="c"></app-button>
</div>
    </div>
  </div>
</div>
   </div>
</section>
