<section class="bg-emerald-50 mt-24 relative">
    <img class="absolute top-10 right-10 opacity-25  lg:left-10 animate__animated animate__bounce animate__infinite animate__slower" src="../../../assets/shapes/shape-21.png" alt="">
    <img class="absolute bottom-10 right-10 animate__animated animate__lightSpeedInLeft animate__infinite animate__slow" src="../../../assets/shapes/shape-22.png" alt="">
<div class="container mx-auto px-5 py-16">
<div class="flex flex-wrap">
<div class="w-full md:w-1/2 order-1  lg:order-1  md:order-1 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
    <img src="../../../assets/logo.png" alt="">
    <p class="mt-4 text-2xl">Caribbean Ct</p>
    <p class=" mt-4 text-emerald-600 font-light">Haymarket, Virginia (VA).</p>
    <app-email class="mt-2 block text-slate-700 font-light"  align="left"></app-email>
    <app-phone class=" mt-2 block text-slate-700 font-light" align="left"></app-phone>
    <app-social class="mt-2 opacity-50 block" color="dark" align="left"></app-social>
</div>
<div class="w-full md:w-1/2 order-2 lg:order-2  md:order-3 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
    <h3 class="text-2xl font-semibold">category</h3>
    <ul class="mt-6 text-slate-700 font-light">

 
<li class="mt-2"><a [routerLink]="['/','']">Creative Writing</a></li>
<li class="mt-2"><a [routerLink]="['/',]">Film & Video</a></li>
<li class="mt-2"><a [routerLink]="['/',]">Graphic Design</a></li>
<li class="mt-2"><a [routerLink]="['/',]">UI/UX Design</a></li>
<li class="mt-2"><a [routerLink]="['/',]">Business Analytics</a></li>
<li class="mt-2"><a [routerLink]="['/',]">Marketing</a></li>
    </ul>
</div>
<div class="w-full md:w-1/2 order-3 lg:order-3 md:order-4 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
    <h3  class="text-2xl font-semibold">quick links</h3>
    <ul class="mt-6 text-slate-700 font-light">
        <li class="mt-2"><a>Privacy Policy</a></li>
        <li class="mt-2"><a>Discussion</a></li>
        <li class="mt-2"><a>Terms & Conditions</a></li>
        <li class="mt-2"><a>Customer Support</a></li>
        <li class="mt-2"><a>Course FAQ’s</a></li>

    </ul>
</div>
<div class="w-full md:w-1/2 order-4 lg:order-4 md:order-2 lg:w-1/3 xl:w-1/4 py-5 sm:p-5">
    <h3 class="text-2xl">Subscribe</h3>
    <p class="mt-6 text-slate-700 font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ex a</p>
   <app-subscribe-form></app-subscribe-form>
</div>

</div>
</div>

</section>
<section class="bg-slate-900 text-slate-200 text-sm">
    <div class="container mx-auto py-4">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2">
                <ul class="flex gap-x-3 flex-wrap justify-center lg:justify-start ">
                    <li class="hover:text-emerald-600 transition-all duration-300"><a [routerLink]="['/']">Terms of Service</a></li>
                    <li>*</li>
                    <li class="hover:text-emerald-600 transition-all duration-300"><a [routerLink]="['/']">Privacy Policy</a></li>
                    <li>*</li>
                    <li class="hover:text-emerald-600 transition-all duration-300"><a [routerLink]="['/']">Sitemap</a></li>
                    <li>*</li>
                    <li class="hover:text-emerald-600 transition-all duration-300"><a [routerLink]="['/']">Security</a></li>
                </ul>
            </div>
            <div class="w-full lg:w-1/2 text-center lg:text-right pt-5 lg:pt-0 ">
                #Mkwebtexh
            </div>

        </div>
    </div>

</section>